---
layout: default
---
<div class="category">
<span class="tag">CATEGORY:</span>
{% for category in site.categories %}
<span class="name">{{ category | first }}</span>
<span class="size">({{ category | last | size }})</span>
<!-- <ul class="arc-list">
    {% for post in category.last %}
        <li>{{ post.date | date:"%d/%m/%Y"}}&nbsp;&nbsp;
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul> -->
{% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-step-backward fa-1x" aria-hidden="true"></i></a>
  {% else %}
    <span class="previous"><i class="fa fa-hourglass-start fa-1x" aria-hidden="true"></i></span>
  {% endif %}
  <span class="page_number ">当前页:{{ paginator.page }},共{{ paginator.total_pages }}页</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-step-forward fa-1x" aria-hidden="true"></i></a>
  {% else %}
    <span class="next "><i class="fa fa-hourglass-end fa-1x" aria-hidden="true"></i></span>
  {% endif %}
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>

      <div class="entry">
         摘录: {{ post.excerpt }}.....
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">》Read More</a>
      </div>

    </article>
  {% endfor %}
</div>
